<% @title = "Your Books" %>

<p>Welcome, <%= current_user.username %></p>
<p>
  <a href="/books/new">Add New Book</a>
</p>

<% @books.each do |b| %>
  <a href="/books/<%= b.id %>"><%= b.name %></a><br>
  <%= b.author %><br>
  <img src="<%= b.cover %>"><br><br><hr>
<% end %>