<% @title = "Your Books" %>

<p>Welcome, <%= current_user.username %></p>
<p>
  <a href="/books/new">Add New Book</a>
</p>


<div class="grid">
    <% @books.each do |b| %>
    <div class="grid-item">
        <h2><a href="/books/<%= b.id %>"><%= b.name %></a></h2>
        <%= b.author %><br>
        <img src="<%= b.cover %>">
    </div>
  <% end %>
</div>
