<% @title = "Your Books" %>
<% if flash.has?(:message) %>
  <div id="flash"><%= flash[:message] %></div>
<% end %>
<h1>Welcome, <%= current_user.username %>!</h1>
<% if @read.count == 0 && @to_read.count == 0 %>
  <p>You haven't added any books yet. Would you like to <a href="/books/new">add your first book?</a></p>
<% else %>
  <p>You've read <%= @read.count %> <%= @read.count == 1 ? "book" : "books"%> and have <%= @to_read.count %> <%= @to_read.count == 1 ? "book" : "books"%> on your to-read list.
    View them below or <a href="/books/new">add a new book</a>.</p>
<% end %>
<% if @to_read.count > 0 %>
<h2>Your To-Read List</h2>
<div class="to-read-grid">
      <% @to_read.each do |b| %>
      <div class="grid-item">
          <a href="/books/<%= b.id %>"><img src="<%= b.cover %>"></a>
          <h3><a href="/books/<%= b.id %>"><%= b.name %></a></h3>
          by <%= b.author %><br>
      </div>
    <% end %>
  </div>
 <% end %>
 <%= "<hr>" if @read.count > 0 && @to_read.count > 0 %>
 <% if @read.count > 0 %>
  <h2>Books You've Read</h2>
  <div class="read-grid">
      <% @read.each do |b| %>
      <div class="grid-item">
          <a href="/books/<%= b.id %>"><img src="<%= b.cover %>"></a>
          <h3><a href="/books/<%= b.id %>"><%= b.name %></a></h3>
          by <%= b.author %><br><br>
        <div class="read-info">
            <strong>Date Finished:</strong><br>
            <%= b.date_read.strftime("%B %d, %Y") %><br>
            <strong>Your Rating:</strong><br> 
            <% b.rating.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          </div>

      </div>
    <% end %>
  </div>
<% end %>
<script src="/js/masonry.js"></script>