<% @title = @book.name %>

<img src="<%= @book.cover %>">

<p>Author: <%= @book.author %></p>
<p>ISBN: <%= @book.isbn %></p>

<% if @book.read %>
  <p>Rating: <%= @book.rating %></p>
  <p>Comments: <%= @book.comments %></p>
  <p>Date Read: <%= @book.date_read.strftime("%B %d, %Y") %></p>  
<% end %>


<% if @book.user_id == current_user.id %>
  <a href="/books/<%= @book.id %>/edit">Edit Book</a>
  <form action="/books/<%= @book.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<% end %>