<% @title = @book.name %>
<% if flash.has?(:message) %>
  <div id="flash"><%= flash[:message] %></div>
<% end %>
<img class="show-page-img" src="<%= @book.cover %>">
<h1><%= @book.name %></h1>
<span class="subhead">by <%= @book.author %></span>
<p><strong>ISBN:</strong> <%= @book.isbn %></p>
<% if @book.read %>
  <p><strong>Rating:</strong> <% @book.rating.times { %> <i class="fa fa-star"></i> <% } %></p>
  <p><strong>Date Read:</strong> <%= @book.date_read.strftime("%B %d, %Y") %></p>  
  <% if @book.comments != "" %> <p><strong>Comments:</strong> <%= @book.comments %></p> <% end %>
<% else %>
  <% if logged_in? && @book.user_id == current_user.id %>
    You haven't read this book yet.
  <% else %>
    <%= @book.user.username %> hasn't read this book yet.
  <% end %>
<% end %>
<br><br>
<% if logged_in? && @book.user_id == current_user.id %>
  <a href="/books/<%= @book.id %>/edit" class="button" >Edit Book</a>
  <form class="delete-form" action="/books/<%= @book.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="button" type="submit" value="Delete">
  </form>
<% end %>